#signInLabel:hover,  #signUpLabel:hover {
    text-decoration: underline;
    cursor: pointer;
}

#heading {
    text-align: center;
    padding-top: 100px;
    letter-spacing: 10px;
}

#tag {
    text-align: center;
    font-size: 110%;
}