<section class="vh-100">
  <h1 id="heading">FOODIES</h1>
  <p id="tag">Choose. Order. Repeat.</p>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-10">
          <div style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="assets/images/home.png" style="fill: cover"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body px-5 py-1 text-black">
  
                  <form #signInForm="ngForm" [hidden]="disableSignIn" (ngSubmit)="signIn(signInForm.value)">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Sign In</span>
                    </div>
  
                    <!-- <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Into your account</h5> -->
  
                    <div class="form-outline mb-4">
                      <input [style.borderColor]="e_si" type="email" name="email-signin" placeholder="Email" class="form-control form-control-lg" ngModel/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input [style.borderColor]="pa_si" type="password" name="password-signin" placeholder="Password" class="form-control form-control-lg" ngModel/>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <input class="btn btn-dark btn-lg btn-block" type="submit" value="Sign In">
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">New to FOODIES? <span
                        (click)="showSignUp()"
                        id="signUpLabel"
                        style="color: #393f81;">Sign Up</span></p>
                  </form>

                  <form #signUpForm="ngForm" [hidden]="!disableSignIn" (ngSubmit)="signUp(signUpForm.value)">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">Sign Up</span>
                    </div>
  
                    <!-- <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Into your account</h5> -->
                    <div class="form-outline mb-4">
                      <input [style.borderColor]="n_su" type="text" name="name-signup" placeholder="Name" class="form-control form-control-lg" ngModel/>
                    </div>
  
                    <div class="form-outline mb-4">
                        <input [style.borderColor]="e_su" type="email" name="email-signup" placeholder="Email" class="form-control form-control-lg" ngModel/>
                    </div>

                    <div class="form-outline mb-4">
                        <input [style.borderColor]="ph_su" type="text" name="phone-signup" placeholder="Phone" class="form-control form-control-lg" ngModel/>
                    </div>
  
                    <div class="form-outline mb-4">
                        <input [style.borderColor]="pa_su" type="password" name="password-signup" placeholder="Password" class="form-control form-control-lg" ngModel/>
                      </div>

                      <div class="form-outline mb-4">
                        <input [style.borderColor]="cp_su" type="password" name="c-password-signup" placeholder="Confirm Password" class="form-control form-control-lg" ngModel/>
                      </div>
  
                    <div class="pt-1 mb-4">
                      <input class="btn btn-dark btn-lg btn-block" type="submit" value="Sign Up">
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Existing Customer? <span
                        (click)="showSignIn()"
                        id="signInLabel"
                        style="color: #393f81;">Sign In</span></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>