<div class="title">
  <h1 style="letter-spacing: 10px">FOODIES</h1>
  <p>Choose. Order. Repeat.</p>
  <div>
    <button class="float-start but" routerLink="/home">
      Home
    </button>
  </div>
</div>

<h1 class="m-5">
  Your Cart <span *ngIf="cartService.cartData.length == 0">is empty</span>
</h1>

<div id="allItems" *ngFor="let order of cartService.cartData">
  <div class="item">
    <div class="container">
      <div class="row">
        <div class="col">
          <img [src]="order.filePath" width="200px">
        </div>
        <div class="col">
          Item
          <h2>{{ order.item }}</h2>
          <h3>₹{{ order.unit }}</h3>
        </div>
        <div class="col">
          Quantity
          <br>
          <button [disabled]="order.qty <= 1" (click)="decQty(order.itemID)" class="btn btn-dark">-</button>
          <span>&nbsp;&nbsp;{{ order.qty }}&nbsp;&nbsp;</span>
          <button (click)="incQty(order.itemID)" class="btn btn-dark">+</button>
        </div>
        <div class="col">
          Price
          <h3>₹{{ order.unit * order.qty }}</h3>
        </div>
        <div class="col">
          <a style="cursor: pointer; font-size: 22px" class="link-danger" (click)="deleteItem(order.itemID)">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="float-start m-5 border border-dark rounded p-5">
  <h2>Order Summary</h2>
  <h3 class="text-primary">
    Items: {{ totItems }}
  </h3>
  <br>
  <h2 class="text-success">
    Total: ₹{{ totAmount }}
  </h2><br>
  <button class="but" [disabled]="cartService.cartData.length == 0" [routerLink]="['/pay', totItems, totAmount, 1]">Proceed to Pay</button>
</div>