<div class="title">
    <div><h1 style="letter-spacing: 10px">FOODIES</h1></div>
    <div><p>Choose. Order. Repeat.</p></div>
    <div>
        <button class="float-start" id="cart-button" routerLink="/auth">
            Sign Out
        </button>
        <button class="float-end" id="cart-button" routerLink="/cart">
            Cart <span id="cart-button-no">{{ cartService.cartData.length }}</span>
        </button>
    </div>
</div>

<div [hidden]="menu">
    <h1 class="p-5 m-5">Loading Assets...</h1>
</div>

<div class="d-flex flex-wrap text-white bg-light mycontainer">
    <div class="border sub-container column" *ngFor="let item of menu">
        <div class="mytop">
            <div>
                <img src="{{ item.filePath }}">
            </div>   
        </div>
        <div class="mybottom">
            <div class="mybottom-text">
                <h3>
                    <img [src]="item.isNonVeg ? 'assets/images/nonveg.jpg' : 'assets/images/veg.jpg'"
                         width="40px">
                    {{ item.item }}
                </h3>
                <p>₹{{ item.unit }}</p>
                <div class="rating-star">
                    <span *ngFor="let i of [0, 1, 2, 3, 4]">
                        <span [ngClass]="item.rating[i] ? 'fa fa-star checked' : 'fa fa-star'"
                            style="font-size:larger">
                        </span>
                    </span>
                </div>
                <div class="m-1">
                    <h4>Serves {{ item.serves }}</h4>
                </div>
                <button [ngClass]="cartDataID.includes(item.itemID) ? 'includedItem' : 'mybottom-button'"
                        [disabled]="cartDataID.includes(item.itemID)"
                        (click)="addToCart(item)"
                        [innerText]="cartDataID.includes(item.itemID) ? 'Added to Cart' : 'Add to Cart'">
                </button>
            </div>
        </div>
    </div>
</div>

