<div class="title">
    <h1 style="letter-spacing: 10px">FOODIES</h1>
    <p>Choose. Order. Repeat.</p>
</div>

<div class="d-flex flex-wrap text-white mycontainer">
    <div class="border sub-container column">
        <div class="mytop">
            <div>
                <div class="sale-tag float-end" style="position: absolute;">Sale</div>
                <img src="https://dummyimage.com/288x240/dee2e6/6c757d.jpg">
            </div>
        </div>
        <div class="mybottom">
            <div class="mybottom-text">
                <h3>Chicken 65</h3>
                <p>
                    <s>$40.00-$80.00</s>
                    $10.00-$20.00
                </p>
                <button class="mybottom-button">Add to cart</button>
            </div>
        </div>
    </div>
</div>