@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.header{
    padding: 1em;
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;
}
.header div{
    display:inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
#cart-button{
    font-size: x-large;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
#cart-button:hover{
    background-color: black;
    color: white;
}
#cart-button-no{
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5em;
    width: 2em;
    color:white;
    background-color: black;
}
.title{
    padding: 3em;
    text-align: center;
    background-color: rgb(50, 31, 31);
    color: white;
    font-style: normal;
    height: 15em;
}
.title h1{
    padding-top: 0.5em;
    font-weight: bold;
    font-size: 3em;
}
.title p{
    font-size:medium;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mycontainer{
    margin-top: 4em;
    justify-content: center;
}
.sub-container{
    background-color:white; 
    width:30em; 
    height:45em; 
    margin:4em;
    margin-bottom: 5em;
    text-align: center;
    border-radius: 1em;
    border-color: green;
    border-width: 2em;
}
.mytop{
    background-color: rgb(213, 210, 210);
    width: 30em;
    height: 20em;
    border-radius: 1em;
}
.mytop img{
    width: 480px;
    height: 320px;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.mybottom{
    color: black;
    background-color: rgb(225, 222, 222);
    width: 30em;
    height: 25em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.mybottom-text{
    padding-top: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mybottom-text h3{
    font-size: xx-large;
    font-weight: bold;
}
.mybottom-button{
    font-size: x-large;
    margin-top: 2em;
    text-align: center;
    width: 11em;
    height: 3em;
    border-radius: 1em;
    border-width: 0.5;
}
.mybottom-button:hover{
    background-color: black;
    color: white;
}

.mybottom-text p{
    font-size: 1.7em;
}
.checked {
    color: orange;
  }

.includedItem {
    font-size: x-large;
    margin-top: 2em;
    text-align: center;
    width: 11em;
    height: 3em;
    border-radius: 1em;
    border-width: 0.2em;
    border-color: green;
}